html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
/*	vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font: 21px/1.5 Helvetica, arial, "Microsoft YaHei", \5b8b\4f53, sans-serif;
	margin: 0 auto;
	padding: 0;
	max-width: 95%; /*960px;*/
	color:#276904;
	/*background-color:#FAFFD0;*/
}
body>div {
	width: 75%;
	max-width: 50em;
	padding: 3em 3em 1.5em;
	margin: 3em auto;
	/*min-width: 32em;*/

	border-top: 10px solid #EE0000;
	box-shadow: 0 0 10px 0 #737660;
	-moz-box-shadow: 0 0 10px 0 #737660;
	-webkit-box-shadow: 0 0 10px 0 #737660;
}

#Bkg {
	display: none;
	position: absolute;
	left: 0%;
	width: 100%;height: 100%;
	max-width:100%;
	background-color: black;
	z-index: 0;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=88);
	padding:0; margin: 0;
	border-top: 0;
	box-shadow: 0;
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
}

#Box {
	display: none;
	position: absolute;
	left: 0%;
	width:100%; height:100%;
	max-width:100%;
	border:5px solid #CCC;
	text-align:center;
	z-index: 1;
	padding:0; margin: 0;
	border-top: 0;
	box-shadow: 0;
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
}
#Box img {
	vertical-align:middle;
	max-width:100%;
}
#Box i {
	display:inline-block;
	width:1px; height:100%;
	overflow:hidden;
	margin-left:-1px;
	vertical-align:middle;
}

/*
div {
	display: none;
	width:100%;
	height:100%;
	text-align:center;
	font-size:40px;
	font-weight: bold;
	margin: 0 auto;
	border-collapse:collapse;
}
*/

h1, h2, h3, h4, h5 {
	font: bold 18px/1.5 Arial, SimHei;
	color: #000000;
	margin-top: 18px;
	margin-bottom: 18px;
	padding: 0;
}
h1 { font-size: 36px;
	line-height: 36px;
	color: #f8f8f8;
	background: #432;
	margin: 0 0 28px 0;
	padding: 12px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 1px 0 2px #ddd;
}
h2 { font-size: 30px; margin: 18px 0 6px; border-bottom: 1px solid;}
h3 { font-size: 24px; }
h4 { font-size: 21px; }
h5 { font-size: 18px; }

section>h3 {
	margin: 18px 0 18px 0;
}

a, a:link, a:hover, a:active {
	color: #EE0000;
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	vertical-align: baseline;
}
a:visited { color: #B22222; }

ul, ol, dl, li {
	padding: 0;
	margin: 12px 0 12px 36px;
}

p {
	padding: 0;
	margin: 18px  18px ;
}

p.intro {
	font-size: 24px;
	line-height: 32px;
}

pre, code {
	font: bold 18px/1.0 Consolas, "Courier New", Monaco, monospace, SimHei;
	margin: 1em 2em;
	padding: .5em .5em;
	color: #800000;
	background: #BBBBBB;
/*	white-space: pre-wrap;*/
	overflow: auto;
	border: 4px solid #2f6fab;
	max-width: 80%;
}
pre code { border: 0; }
code {
	margin: 0;
	padding: 0;
	border: 2px solid #2f6fab;
	border-radius: 5px;
}

blockquote, q {
	font: bold 21px/1.5 Consolas, "Courier New", "KaiTi", "KaiTi_GB2312", "FangSong_GB2312", SimHei, arial, Monaco, monospace; 
	color: #000000;
	margin: 2em;
	padding: 0;
	max-width: 80%;
	quotes: "\201C""\201D""\2018""\2019";
	background: #f9f9f9;
	/*white-space: pre-wrap;
	border: 2px solid #2f6fab;
	background: #CCE8CF;
	border-left: 2.5em solid #2f6fab;*/
}
blockquote ol { margin: .2em; padding: 0; }
blockquote li { margin: .2em; padding: 0; }
q:before, q:after,
blockquote:before, blockquote:after {
	 content: open-quote;
	 font-size: 4em;
	 color: #ccc;
	 line-height: 0.01em;
	 margin-left: -.5em;
	 vertical-align: -0.5em;
}
blockquote:after {
	 content: close-quote;
}

table {
	font: bold 20px/1.2 Consolas, "Courier New",  Monaco;
	text-align:left;
	vertical-align: baseline;
	border: 4px solid #888888;
	border-spacing: 1;
	border-collapse:collapse;
	margin-top: 5px;
	color:#000000;
	background-color:#ECE8CD;
	width:750px; overflow:auto;
}
th {
	color:#ffffff;
	background-color: #A82918;
	border: 4px solid #000000;
	padding: 5px;
}

td, tr {
	border: 2px solid #AAAAAA;
	padding:3px 7px 2px 7px;
	padding-top:5px;
	padding-bottom:4px;
}

figure,img {
	font: bold 21px/1 Helvetica, arial, "Microsoft YaHei", \5b8b\4f53, sans-serif;
	text-align: center;
	max-width:800px;
	width:expression(this.width>800 ? "800px" : this.width);
}

aside {
	display: block;
	float: right;
	width: 390px;
}

hr {
	text-align: left;
	margin: 0 auto 0 0;
	color: #999;
	page-break-after: always;
}

dt { font-weight: 700; }
em { font-style: italic; }
strong { font: bold 24px/1.5 Arial, SimHei; font-weight: 700; }
img.avatar {
	position: relative;
	float: right;
}

.S0 { color: #000080; }
.Sope { color: #800000; }
.Snum { color: #FF0000; }
.Skwd { color: #0000FF; }
.Scom { color: #006600; }
.Sstr { color: #008080; }
.Svar { color: #808000; background-color:#FFFF99; }
.Scmd { color: #FF0080; }

canvas.ChemDoodleWebComponent {
	border: 1px solid black;
}

.buttons{
	float: right;
	margin-top: 15px;
}

dl .meta {
    margin: 0 0 24px 0;
}

.meta{
	text-align:right;
	font-size:14px;
	margin-bottom: 10px;
}

.home {
	position: relative;
	float: right;
}

.listing-item a { padding:.025em 0; }
.listing-item time { color:#999999; }
.listing-seperator { font-weight:bold;}
.listing-item, .listing-seperator{ list-style-type:none; }

.paginator {
	font: 14px Arial,Helvetica,sans-serif;
	color: #AAA;
	margin: 20px 0;
	line-height: 150%;
	display: block;
}

.paginator a, .paginator span{
	padding: 0 4px;
	margin: 2px;
	text-decoration: none;
}

.paginator .current-page {
	color: white;
	background: #ff0000;
}

.paginator a:hover{
	color: white;
	background: #83BF73;
}

footer{
	display:block;
	border-top: 1px dashed #CCC;
}

footer small {
	font-size: 13px;
	color: #999;
}

footer a {
	margin: 1px;
	border: 1px solid rgba(1,1,1,0);
	border-bottom: 1px dashed #BBB;
	color: #B9221F;
	text-decoration: none;
}

footer a:hover {
	color: rgba(250,250,250,1.0) !important; 
	-webkit-border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.45);
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(110,110,110,1.0)), to(rgba(100,100,100,1.0)));
	-webkit-box-shadow: rgba(0,0,0,1.0) 0px 0px 2px,rgba(255,255,255,0.15) 0px 1px 1px inset;
	text-decoration: none;
}

