---
layout: default
---

{{content}}

</article>
<!--span style="display:table;margin:0 auto;"><table style="text-align:center"><tr><td colspan='2'>随意赞赏</td></tr><tr><td><img src="/jscss/pay_wx.jpg" width="200"><br>微信</td><td><img src="/jscss/pay_ali.jpg" width="200"><br>支付宝</td></tr></table></span-->
<span class="meta"><span style="display:table;margin:0 auto;">
◆本文地址: <a href="{{site.url}}{{page.url}}" id="pageURL"></a>, 转载请注明◆<br>
◆评论问题: <a href="https://jerkwin.herokuapp.com/category/3/%E5%8D%9A%E5%AE%A2">https://jerkwin.herokuapp.com/category/3/博客</a>, 欢迎留言◆</span><hr></span>
<script>var url=document.getElementById('pageURL');url.innerHTML=decodeURI(url.href)</script>
<hr>
<span class="meta">
<a {%if page.previous%} href="{{site.url}}{{page.previous.url}}"{%endif%} {%unless page.previous%}class="pageNavInvalid" {%endunless%}>前一篇:　{{page.previous.title}}</a><br>
<a {%if page.next%} href="{{site.url}}{{page.next.url}}"{%endif%} {%unless page.next%}class="pageNavInvalid"{%endunless%}>后一篇:　{{page.next.title}}</a>
</span>
