---
layout: default
---

<script src="/jscss/TOC.js"></script>

<section class="post"> {{ content }} </section>

<section class="meta">
	</br>
	<h3 style="text-align:center;">◆本文网址:<a href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a>转载请注明◆</h3>
	<hr>
	<span style="float:left;">
		<a {% if page.previous %} href="{{ site.url }}{{ page.previous.url }}" style="font-size: 21px" {% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >前一篇:　{{ page.previous.title }}</a>
	</span>
	<br/>
	<span style="float:right;">
		<a {% if page.next %} href="{{ site.url }}{{ page.next.url }}" style="font-size: 21px" {% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >后一篇:　{{ page.next.title }}</a>
	</span>
	<br/><br/>
	<hr>
	<span class="author"> <a href="http://Jerkwin.github.com">{{ site.author }}</a> </span>
	<span class="time"> / <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time> </span>
	<br />
	<span class="license">
		版权: <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(CC) BY-NC-SA</a>&nbsp;
	</span>
	{% if page.categories %}
		<span class="categories">
			类别: 
			{% for cat in page.categories %} <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
			{% endfor %}
		</span>
	{% endif %}
	{% if page.tags %}
		<span class="tags">
			标签: 
			{% for tag in page.tags %} <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp; 
			{% endfor %}
		</span>
	{% endif %}
</section>

{% include comments.md %}

<script type="text/javascript">
$(function(){
	$(document).keydown(function(e) {
		var url = false;
			if (e.which == 37 || e.which == 74) {  // Left arrow and J
				{% if page.previous %}
			url = '{{ site.url }}{{ page.previous.url }}';
			{% endif %}
			}
			else if (e.which == 39 || e.which == 75) {  // Right arrow and K
				{% if page.next %}
			url = '{{ site.url }}{{ page.next.url }}';
			{% endif %}
			}
			if (url) {
				window.location = url;
			}
	});
})

</script>

